
body{
    display: flex; 
    height: calc(100vh - 60px); /*screen height minus topbar height*/
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.hide{
    width:0px;
}
.show{
    width:200px;
}
h2 p{
    color: #000;  
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
span{
    font-family: 'Lato', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    
    justify-content: start;
    align-items: flex-start;
    flex: 1 1 1;  
    align-self: stretch;
    background-color: rgb(192, 192, 192);
}
.header.title{
    display: flex;
    height: 61px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch; 
}


.logo{
    display: flex; 
    flex: 1 1 1; 
    background: #ffffff;
    border: 2px solid #000;
}

.logo>img{
    height: 80px;
    width: 80px;
    padding: 10px 10px;
    
}

.body{
    display: flex;
    padding: 0px 10px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.categorieContainer{
    display: flex;
    padding: 10px 11px;
    flex-direction: column;
    align-items: center; 
    align-self: stretch;
    background: #ECE6E6;
}
.categorieContainer>.button{
    height:20px;
}
.itemsContainer{
    display: flex;
    padding: 11px 16px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    background: #E9E9E9;
}
.buttonsItemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    
    overflow-y: auto; /* Enable vertical scrollbar if needed */
}


.button{
    display: flex;
    border: 2px solid rgba(209,209,209,0.52);
    border-radius: 4px;
    
    align-self: stretch;
    padding: 8px 47px 7px 50px;
    justify-content: center;
    align-items: center;
    background: #FFF;
}
.button:hover{
    background: #eeeeee;
}

textarea {
    width: 100%;
    min-height: 100px; /* Set a minimum height */
    resize: none; /* Disable manual resizing */
  }